[submodule "src/Movie/GoogleSDK"]
	path = src/Movie/GoogleSDK
	url = https://github.com/google/google-api-php-client.git
[submodule "src/FlareScoreboard"]
	path = src/FlareScoreboard
	url = https://github.com/dgarciabriseno/flare-scoreboard.git
