__MACOSX
*~
#*
.ac-php-conf.json
.buildpath
.DS_Store
.directory
.project
.pydevproject
.settings
.env
.venv
.vscode
*.pyc
api/docs
api/lib/phpvideotoolkit/config.php
build/css/*
build/*.js
cache/*
log/*
install/tools/icons
settings/Config.ini
settings/Database.php
settings/Private.php
tags
docs/files.html
docs/index.html
docs/symbols
error.log
jp2
build/css
*.log
php_errors.log
.htaccess
.gnupg
cache
settings/settings.cfg
settings.cfg
docs/profiling.tar
.idea
.bzrignore
google07565ec8e89f7c80.html
jpip
keith.tar.gz
releases
robots.txt
statistics/milestones.txt
status/movieId.php
log
scripts/nohup.out
scripts/hv_stats/nohup.out
scripts/hv_stats/coverages
scripts/hv_stats/embed_service
scripts/hv_stats/histograms
scripts/hv_stats/hv_movies
scripts/hv_stats/hv_screenshots
scripts/hv_stats/hv_student
scripts/hv_stats/Jhv_movies
scripts/hv_stats/service_usage
docroot/statistics/bokeh/coverages
docroot/statistics/bokeh/embed_service
docroot/statistics/bokeh/histograms
docroot/statistics/bokeh/hv_movies
docroot/statistics/bokeh/hv_screenshots
docroot/statistics/bokeh/hv_student
docroot/statistics/bokeh/Jhv_movies
docroot/statistics/bokeh/service_usage
docroot/resources/JSON/celestial-objects*
docroot/resources/JSON/celestial-bodies*
docroot/docs/v2
docroot/status.xml
py_env
py_venv_local_sunpy
vendor