__MACOSX
*~
#*
.ac-php-conf.json
.buildpath
.DS_Store
.directory
.project
.pydevproject
.settings
.env
.venv
.vscode
*.pyc
api/docs
api/lib/phpvideotoolkit/config.php
build/css/*
build/*.js
cache/*
log/*
install/tools/icons
settings/Config.ini
settings/Database.php
settings/Private.php
tags
docs/files.html
docs/index.html
docs/symbols
error.log
jp2
build/css
*.log
php_errors.log
.htaccess
.gnupg
cache
settings/settings.cfg
settings.cfg
docs/profiling.tar
.idea
.bzrignore
google07565ec8e89f7c80.html
jpip
keith.tar.gz
releases
robots.txt
statistics/milestones.txt
status/movieId.php
log
scripts/nohup.out
docroot/resources/JSON/celestial-objects*
docroot/resources/JSON/celestial-bodies*
docroot/docs/v2/*
!docroot/docs/v2/api_definitions.xml
docroot/status.xml
py_env
py_venv_local_sunpy
vendor
docroot/playground
